{% extends "base.html" %}
{% block page_title %}Internal error{% endblock %}
{% block content %}
<div id="page-wrapper">
   <br/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4>Internal Error</h4>
               </div>
               <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="jumbotron text-center">
                              <h2>Sorry, our server has encountered an internal error!</h2>
                              <p>This error has been logged and is being passed onto our engineers. {500 Error}</p>
                              <a href="mailto:hello@grcenvelop.com?subject=GRC Envelop Enterprise" class="btn btn-danger btn-lg">hello@grcenvelop.com | Get in touch with us!</a>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
   </div>
</div>
{% endblock %}
